<!DOCTYPE html>
<center>
    <html lang="en">
    <!-- Start Head -->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title style="text-align: center;">공개키 정보</title>

        <link rel="stylesheet" href="css/style.min.css" />
        <link rel="stylesheet" href="css/modules.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">


    </head>

    <body class="default" style="text-align: center;">
        <header class="MOD_HEADER3">
            <div class="MOD_HEADER3_SocialBarContainer">
                <div data-layout="_r" class="MOD_HEADER3_SocialBar">
                    <div class="MOD_HEADER3_SocialIcons">

                        <div class="menubar">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="indexlogin.ejs" class="text">K-SHIELD</a>
                                    </li>
                                    <li>
                                        <a href="#" class="view">View mask</a>
                                        <ul class="submenu">
                                            <li><a href="[mask]supplierlist.ejs">생산업체</a></li>
                                            <li><a href="[mask]sellerlist.ejs">판매업체</a></li>
                                            <li><a href="[mask]distributorlist.ejs">유통업체</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="view">View agents</a>
                                        <ul class="submenu">
                                            <li><a href="[ag]supplierlist.ejs">생산업체</a></li>
                                            <li><a href="[ag]sellerlist.ejs">판매업체</a></li>
                                            <li><a href="[ag]distributorlist.ejs">유통업체</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="view">Agents register<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="[rgis]supplier.ejs">생산업체 등록</a></li>
                                            <li><a href="[rgis]seller.ejs">판매업체 등록</a></li>
                                            <li><a href="[rgis]distributor.ejs">유통업체 등록</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="MOD_HEADER3_Contact">
          <span class="c">
          [<a href="mypagelogin.ejs" class="my_page">K-shield</a>]
          님 환영합니다</span><span>..</span>
          <a href="index.ejs" class="logout">Logout</a></div>
                </div>
            </div>
        </header>

        <section>
            <div data-layout="_r">
                <div data-layout="al16">
                    <h1 style="text-align: center;">공개키 정보</h1>
                    <h2 style="text-align: center;">판매업체</h2>
                </div>
            </div>
            <form name="sellinfoform" action="/sellerinfo_detail" method="get">
                <table>
                    <tr>
                        <td>
                            업체명
                        </td>
                        <td>
                            K-mask
                        </td>
                    </tr>
                    <tr>
                        <td>
                            공개키
                        </td>
                        <td>
                            00ewr5252sg3256457252
                        </td>
                    </tr>
                </table><br><br>
            </form>
            <button class="btn" onclick='location.href="[ag]sellerlist.ejs"'>이전 화면</button>        
            <br />
        </section>



        <script src="/js/index.js"></script>
        <div id=bitwise-footer
            style=text-align:center;margin-top:3em;padding:1em;color:#aaaaaa;font-size:0.75em;font-style:italic;>Hosted
            by the team <a href=http://www.bitwise.io/ target=_blank class="r">K-Shield</a></div>
    </body>
</center>

</html>