<!DOCTYPE html>

<html lang="en">

<head>
  <title>비밀번호 변경</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="stylesheet" href="css/modules.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <style>
    input[type="submit"] {
      width: 60px;
    }
  </style>
</head>

<body class="default" style="text-align: center;" onload='document.changepwform.userpw.focus()'>
  <header class="MOD_HEADER3">
    <div class="MOD_HEADER3_SocialBarContainer">
      <div data-layout="_r" class="MOD_HEADER3_SocialBar">
        <div class="MOD_HEADER3_SocialIcons">

          <div class="menubar">
            <nav>
              <ul>
                <li>
                  <a href="indexlogin.ejs" class="text">K-SHIELD</a>
                </li>
                <li>
                  <a href="#" class="view">View mask</a>
                  <ul class="submenu">
                    <li><a href="[mask]supplierlist.ejs">생산업체</a></li>
                    <li><a href="[mask]sellerlist.ejs">판매업체</a></li>
                    <li><a href="[mask]distributorlist.ejs">유통업체</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="view">View agents</a>
                  <ul class="submenu">
                    <li><a href="[ag]supplierlist.ejs">생산업체</a></li>
                    <li><a href="[ag]sellerlist.ejs">판매업체</a></li>
                    <li><a href="[ag]distributorlist.ejs">유통업체</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="view">Agents register<i class="ti-angle-down"></i></a>
                  <ul class="submenu">
                    <li><a href="[rgis]supplier.ejs">생산업체 등록</a></li>
                    <li><a href="[rgis]seller.ejs">판매업체 등록</a></li>
                    <li><a href="[rgis]distributor.ejs">유통업체 등록</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="MOD_HEADER3_Contact">
          <span class="c">
          [<a href="mypagelogin.ejs" class="my_page">K-shield</a>]
          님 환영합니다</span><span>..</span>
          <a href="index.ejs" class="logout">Logout</a></div>
       </div>

      </div>
    
  </header>

  <main>
    <section>
      <div data-layout="_r">
        <div data-layout="al16">
          <h1 style="text-align: center;">비밀번호 변경</h1>
        </div> </div>
        <form name="changepwform" id="my-form" action="/changepw" method="put">
        <table class="signupform" style="margin:auto">
          <td>
            <label for="passwordlabel">비밀번호<span class="required">*</span></label>
            <input type="password" value="dkssud1234E" name="userpw" placeholder="Password" required="required"
              id="pass" aria-required="true" /><br><span style="color: red;font-size: xx-small"><strong>[숫자, 대문자 및 소문자를
                포함하는 8 ~ 20 자]</strong></span>
          </td>
          </tr>
          <tr>
            <td>
              <label for="passwordConfirm">비밀번호 확인<span class="required">*</span></label>
              <input type="password" value="dkssud1234E" required="required" aria-required="true"
                placeholder="Repassword" name="confirmuserpassword" id="passcheck" />
            </td>
          </tr>
        </table>
      
      <br>
      <br><span>
        <input type="submit" value="취소" class="btn1" onclick="gomypage();return false;"/>
        <input type="submit" value="변경" class="btn1" id="submit"
          onclick="CheckPassword(document.changepwform.userpw); return false;" />
      </span>
        </form>
    </section>
  </main>

  <div id=bitwise-footer
    style=text-align:center;margin-top:3em;padding:1em;color:#aaaaaa;font-size:0.75em;font-style:italic;>Hosted by the
    team <a href=http://www.bitwise.io/ target=_blank class="r" class="r">K-Shield</a></div>

  <script>


    function CheckPassword(inputtxt) {
      var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
      if (inputtxt.value.match(passw)) {


        console.log("pass:", passw);

        var pass = document.getElementById('pass').value;
        var passCheck = document.getElementById('passcheck').value;
       

        console.log("pass:", pass);
        console.log("passCheck:", passCheck);

        if (pass == passCheck) {
          alert('비밀번호가 변경되었습니다\n다시 로그인 하십시오');
          location.href = "login.ejs";
        } else {
          alert('비밀번호가 일치하지 않습니다.');
          return false;
        }


      } else {
        console.log(" else test");
        alert('비밀번호는 숫자, 대문자 및 소문자를 포함하는 8 ~ 20 자')
        return false;
      }
    }
      function gomypage() {
      console.log("mypage");
      location.href = "mypagelogin.ejs"
    }
    
  </script>

  <script src="js/index.js"></script>
</section>
</body>

</html>