<!DOCTYPE html>

<html lang="en">
<!-- Start Head -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title style="text-align: center;">My page</title>

  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="stylesheet" href="css/modules.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <style>
    input[type="submit"] {
      width: 130px;
    }
  </style>
  <script>
    document.getElementsByName("userid").innerHTML = document.getElementsByName("useremail");
    document.getElementsByName("usertype").innerHTML = document.getElementsByName("affselect");
    function out() {
      var r = confirm('정말 탈퇴하시겠습니까?');
      if (r == true){
        location.href = "index.ejs";
      }
      else {return false;}

    }
  </script>
</head>

<body class="default" style="text-align: center;">
  <header class="MOD_HEADER3">
    <div class="MOD_HEADER3_SocialBarContainer">
      <div data-layout="_r" class="MOD_HEADER3_SocialBar">
        <div class="MOD_HEADER3_SocialIcons">

          <div class="menubar">
            <nav>
              <ul>
                <li>
                  <a href="indexlogin.ejs" class="text">K-SHIELD</a>
                </li>
                <li>
                  <a href="#" class="view">View mask</a>
                  <ul class="submenu">
                    <li><a href="manufacturerlist.ejs">생산업체</a></li>
                    <li><a href="sellerlist.ejs">판매업체</a></li>
                    <li><a href="distributorlist.ejs">유통업체</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="view">View agents</a>
                  <ul class="submenu">
                    <li><a href="agmanufacturerlist.ejs">생산업체</a></li>
                    <li><a href="agsellerlist.ejs">판매업체</a></li>
                    <li><a href="agdistributorlist.ejs">유통업체</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="view">Agents register<i class="ti-angle-down"></i></a>
                  <ul class="submenu">
                    <li><a href="rgmanufacturer.ejs">생산업체 등록</a></li>
                    <li><a href="rgseller.ejs">판매업체 등록</a></li>
                    <li><a href="rgdistributor.ejs">유통업체 등록</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="MOD_HEADER3_Contact">
          <span class="c">
          [<a href="mypagelogin.ejs" class="my_page">K-shield</a>]
          님 환영합니다</span><span>..</span>
          <a href="/logout" class="logout">Logout</a></div>
        
      </div>
    </div>
  </header>


  <section>
    <form name="mypageform" action="/mypage" method="post">
      <div data-layout="_r">
        <div data-layout="al16">
          <h1 style="text-align: center;">My page</h1>
        </div>
      </div>
      <table style="border:1px solid white; width:35%; height:100px; margin:auto;text-align: left;padding: 20px;">

        <tr>
          <td><strong>
              아이디
            </strong></td>
          <td name="userid">
            dasol
          </td>
        </tr>
        <tr>
          <td><strong>
              소속
            </strong></td>
          <td name="usertype">
            seller
          </td>
        </tr>
      </table>
    </form>
    <div class="changepw-submit">
      <a href="changepwlogin.ejs"><input type="submit" id="changepw" value="비밀번호 변경" required="required"
          aria-required="true" /></a><br><br>
          <button class="btn" onclick="out()">회원탈퇴</button>
            
    </div>

  </section>



  <script src="js/index.js"></script>
  <div id=bitwise-footer
    style=text-align:center;margin-top:3em;padding:1em;color:#aaaaaa;font-size:0.75em;font-style:italic;>Hosted by the
    team <a href=http://www.bitwise.io/ target=_blank class="r">K-Shield</a></div>
</body>


</html>