<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/signup" method="POST">
      <label>useremail:</label>
      <input type="text" name="useremail" value="kf91@naver.com" /><br />
      <label>userpw :</label>
      <input type="password" name="userpw" value="KF90pass$" /><br />
      <label>userpw-re:</label>
      <input type="password" name="userpwRe" value="KF90pass$" /><br />
      <label>usergroup:</label>
      <input type="text" name="usergroup" value="distributor" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
